body {
    background-color: #000000;
    background-image: url(./img/hacker-code-running-down-free-video.jpg);
    background-size: cover;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    color: #33ff00;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: 0 0 13px black;
    margin: 1rem;
}

#inputContainer {
    background-color: rgba(29, 29, 29, 0.97);
    height: 70vh;
    width: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contentContainer {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 70vh;
    padding: 2rem;
}

#gridContainer {
    height: 23rem;
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
}

#gridControl {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    background-color: #000000;
    color: #33ff00;
    width: fit-content;
}

.square {
    height: 25%;
    width: 20%;
    flex-grow: 1;
    border: 1px solid gray;
    background-color:aliceblue;
}




/*
#000000	
#1aa64b	
#1db954	
#33c065	
#4ac776