body {
    background-color: #000000;
    background-image: url(./img/hacker-code-running-down-free-video.jpg);
    background-size: cover;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    color: #33ff00;
    padding: 2rem;
    margin: 0;
}

h1 {
    text-shadow: 0 0 13px black;
    margin: 0.5rem;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    background-color: rgba(29, 29, 29, 0.97);
    height: 80vh;
    width: 40vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 0.5rem;
}

#contentContainer {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100vh;
    padding: 2rem;
    padding-top: 0.5rem;
}

#gridContainer {
    height: 30rem;
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
}

#gridControl {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    background-color: #000000;
    color: #33ff00;
    width: fit-content;
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
  border: 2px dotted #33ff00;
}

.rainbowActive {
    border: 2px solid #33ff00;
}

.button {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

.colorBox {
    margin-top: 1rem;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

select {
    padding: 10px; /* Ruimte binnen de select */
    border: 1px solid #ccc; /* Randstijl en kleur */
    border-radius: 5px; /* Afgeronde hoeken */
    font-size: 16px; /* Tekengrootte */
  }
  
  /* Stijl voor de focus (wanneer het selectveld actief is) */
  select:focus {
    outline: none; /* Verwijder de standaard focusstijl */
    border-color: #33ff00; /* Verander de randkleur wanneer gefocust */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Voeg een schaduw toe */
  }

.square {
    border: 1px solid gray;
    background-color:aliceblue;
    box-sizing: border-box;
}

.squareG4 {
    width: 25%;
    height: 25%;
}

.squareG5 {
    width: 20%;
    height: 20%;
}

.squareG6 {
    width: calc(100% / 6);
    height: calc(100% / 6);
}

.squareG7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.squareG8 {
    width: calc(100% / 8);
    height: calc(100% / 8);
}

.squareG9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.squareG10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}






/*
#000000	
#1aa64b	
#1db954	
#33c065	
#4ac776